Borderpane {
}
#mapGrid {
    -fx-background-color: white;
    -fx-border-color: #2d2d2d;
    -fx-border-width: 2px;
}
#mapGrid Line {
    -fx-stroke: #3f3f3f;
}
#stopStartButton {
    -fx-font-size: 16;
}
.title, .chart {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}